.picture-container {

height: 100vh;
padding-top: 50px;

.picture {
  margin: 0 auto;
  width: 90%;
  height: 80%;
  background-color: white;
}
.logo-picture {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 0;
  left: calc(50% - 33px);
  margin-bottom: 20px;


}
}